.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.loading-container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.loading-bar {
  height: 25px; 
  background-color: lightgray; 
  width: 100%;
}

.loading-progress {
  height: 100%;
  background-color: blue; 
  transition: width 0.3s; 
}

.loading-text {
  font-size: 24px; 
  margin-top: 10px; 
}

@keyframes strobe {
  0%, 50%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}

.strobe-text {
  font-size: 24px;
  animation: strobe 2s infinite; 
}

.loading-text {
  font-size: 24px; 
  margin-top: 10px; 
}

.loading-percentage {
  font-size: 24px;
  margin-top: 10px; 
}

.no-background-image {
  background-image: none;
}

.welcome-text {
  font-size: 48px;
  color: white;
  opacity: 0;
  transition: opacity 0.9s;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .welcome-text {
    font-size: 36px;
  }
}


@media (max-width: 768px) {
  .loading-text {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .loading-bar {
    height: 20px; 
  }

  .loading-progress {
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .loading-text {
    font-size: 28px; 
  }
}