.header {
  display: flex;
  /* flex-direction: column; */
  background-color: black;
  width: 100%;
  align-items: center;
}

.metallic-text {
  font-family: 'StarCraft', sans-serif;
  font-size: 48px;
  background: linear-gradient(90deg, red, blue, green, #ffffff, #76e4b5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
  margin-top: 47px;
  animation: colorRotate 4s linear infinite;
  background-size: 200% 100%;
}

@keyframes colorRotate {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-content {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
  height: 20%;
  padding: 0 20px;
}

.profile-picture-container {
  width: 100vw; 
  height: 150px;
  display: flex; 
  align-items: center;
  justify-content: flex-start;
  position: relative;
  left: 200px;
  top: 20px;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 820px) {
  .metallic-text {
    font-size: 32px;
    margin-top: 47px;
  }
}

@media screen and (max-width: 820px) {
  .header-content {
   justify-content: center;
   padding: 0
  }
}

@media screen and (max-width: 820px) {
  .header {
    flex-direction: column;
  }
}