.header {
  display: flex;
  flex-direction: column;
  background-color: #0d0d0d7a;
  color: #ffffff;
  width: 100%;
  height: 20%;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
  align-items: center;
}

.metallic-text {
  font-family: 'StarCraft', sans-serif;
  font-size: 48px;
  background: linear-gradient(to bottom, #FF6600, #0033CC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  padding: 0 20px;
}

.profile-picture-container {
  width: 100vw; 
  height: 150px;
  display: flex; 
  align-items: center;
  justify-content: flex-start;
  position: relative;
  left: 200px;
  top: 20px;
}

.link {
  text-decoration: none;
}