.navbar {
    /* background-color: yellow; */
    width: 45%;
    /* border-radius: 8px; */
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-list li {
    margin: 0;
    padding: 2.5px;
}

.navbar-list a {
    text-decoration: none;
    color: black;
    background: linear-gradient(180deg, #76e4b5, #ffffff, #76e4b5);
    padding: 10px;
    font-size: 24px;
    white-space: nowrap;
}

.navbar-list a:hover {
    background: #0074d9;
    color: white;
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      background-color: #0074d9;
    }
    50% {
      background-color: #0056b3;
    }
    100% {
      background-color: #0074d9;
    }
  }

a.active {
    background: #3498db; 
    color: white; 
    font-weight: bold;
    font-size: 24px;
    /* border-radius: 8px; */
  }



