.main {
  display: flex;
  justify-content: center;
}

.bio-container {
  background-color: rgba(255, 255, 255, 0.825);
  border: 2px solid black;
  padding: 10px;
  margin-top: 50px;
  border-radius: 8px;
}


